@model StpisNetCore.Models.tblOrders

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить</h1>

<h4>Заказ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select id="drpRoleList" class="form-control" asp-for="ClientId" asp-items="@(new SelectList(Model.ClientList, "Id", "Login"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select id="drpRoleList" class="form-control" asp-for="ProductId" asp-items="@(new SelectList(Model.ProductList, "Id", "Title"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductAmount" class="control-label"></label>
                <input asp-for="ProductAmount" class="form-control" />
                <span asp-validation-for="ProductAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
