@model StpisNetCore.Models.tblDeliveries

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавить</h1>

<h4>Доставку</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control"/>
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select id="drpRoleList" class="form-control" asp-for="StatusId" asp-items="@(new SelectList(Model.StatusList, "Id", "Status"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionId" class="control-label"></label>
                <select id="drpRoleList" class="form-control" asp-for="RegionId" asp-items="@(new SelectList(Model.RegionsList, "Id", "RegionName"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="RegionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <select id="drpRoleList" class="form-control" asp-for="OrderId" asp-items="@(new SelectList(Model.OrdersList, "Id", "OrderNumber"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarehouseId" class="control-label"></label>
                <select id="drpRoleList" class="form-control" asp-for="WarehouseId" asp-items="@(new SelectList(Model.WarehousesList, "Id", "Id"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="WarehouseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
